@{
    ViewData["Title"] = "Home Page";
}

<div id="ceu">
    <div id="astro"></div>
    <div id="cartao-relogio-saudacao">
        <p id="relogio">relogio</p>
        <p id="saudacao">saudacao</p>
    </div>
</div>
